$image-path: "../../images/";

.error404 {
  .site-main {
    position: relative;
    background: url("#{$image-path}/404.webp") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
    }
  }

  .not-found {
    position: relative;
    text-align: center;
    color: #fff;

    .page-title {
      margin: 0 0 1.2rem;
      font-size: 3.2rem;
    }

    a {
      color: #fff;
    }
  }
}