@font-face {
    font-family: 'CC PF Marlet Display';
    src: url('CCPFMarletDisplay-ThinItalic.woff2') format('woff2'),
        url('CCPFMarletDisplay-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CC PF Marlet Display';
    src: url('CCPFMarletDisplay-Regular.woff2') format('woff2'),
        url('CCPFMarletDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CC PF Marlet Display';
    src: url('CCPFMarletDisplay-Thin.woff2') format('woff2'),
        url('CCPFMarletDisplay-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

