@import "../abstracts/abstracts";

html {
  min-height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  word-break: break-word;
  font-size: 1.6rem;
  @include flex-column;
}

iframe {
  max-width: 100%;
}

video {
  max-width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  @extend %outline-none;
  @include transition();
}