@charset "UTF-8";
/**
# Root
-----------------------------------------------------------------------------*/
a {
  outline: none;
}

html {
  min-height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  word-break: break-word;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}

iframe {
  max-width: 100%;
}

video {
  max-width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

a {
  outline: none;
}

.wp-caption.alignnone, .alignnone, a img.alignnone {
  margin: 0.5rem 2rem 2rem 0;
}

.aligncenter {
  margin: 0.5rem auto;
}

.wp-caption.alignright, .alignright, a img.alignright {
  margin: 0.5rem 0 2rem 2rem;
}

.wp-caption.alignleft, .alignleft, a img.alignleft {
  margin: 0.5rem 2rem 2rem 0;
}

.aligncenter {
  display: block;
}

.alignright, a img.alignright {
  float: right;
}

.alignleft, a img.alignleft {
  float: left;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background-color: var(--theme-white);
  max-width: 96%;
  padding: 0.4rem 0.2rem 1rem;
  text-align: center;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  --theme-padding-caption: 0 .4rem .5rem;
  font-size: var(--theme-fs-sm);
  margin: 0;
  padding: var(--theme-padding-caption);
}

/* Galleries */
.gallery {
  margin: auto;
}
.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 33.33%; /* Có thể điều chỉnh */
  margin-bottom: 1.5em;
}
.gallery-columns-2 .gallery-item {
  width: 50%;
}
.gallery-columns-3 .gallery-item {
  width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  width: 25%;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
  position: absolute !important;
  white-space: nowrap;
  width: 0.1rem;
  height: 0.1rem;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  clip: auto !important;
  color: var(--theme-accent);
  display: block;
  height: auto;
  width: auto;
  top: 0.5rem;
  left: 0.5rem;
  line-height: normal;
  padding: 1.5rem 2.3rem 1.4rem;
  text-decoration: none;
  z-index: 100000;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.6);
}

.bypostauthor,
.sticky {
  color: var(--theme-accent);
}

form.post-password-form p label {
  margin: 0;
}
form.post-password-form p input {
  border: 0.1rem solid #ddd;
  border-radius: 0.4rem;
  padding: 0.4rem 1rem;
  margin-left: 1rem;
}
form.post-password-form p input[type=submit] {
  border-radius: 0.4rem;
  background-color: var(--theme-primary);
  border: none;
  color: var(--theme-white);
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
}